@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	background-image:url(../images/25301.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}
#movie{
	width:427px;
	height:268px;
	background-image:url(../images/25401.png);
	background-repeat:no-repeat;
	margin:100px auto 0px auto;
	padding:21px 22px 203px 22px;
}
