@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	font-size:12px;
	color:#036;
	line-height:25px;
	background-color:#c2e2e7;
}
#box{
	width:401px;
	height:424px;
	margin:50px auto 0px auto;
}
