@charset "utf-8";
/* CSS Document */
#box{
	width:152px;
	height:153px;
	margin:100px auto 0px auto;
}
#text{
	width:152px;
	height:35px;
	border:solid 1px #f4f4f4;
	color:#f4f4f4;
	font-family:微软雅黑;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	text-align:center;
	margin:50px auto 0px auto;
}

